.dropdown-menu {
    background-color: #2f3136;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    color: #2f3136;
    background-color: white;
}
.dropdown-divider {
    border-top-color: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> 14f18fc ([TASK]-GHÉP CODE[POST...] ĐI ĐƯỜNG DẪN)
